body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19064d;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 50px;
}

.logo {
    color: #ecf0f1;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0a181a;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ecf0f1;
    margin: 5px 0;
    border-radius: 2px;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-item {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s;
    background-color: #0a181a;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #00bcd4;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    color: #00bcd4;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #34495e;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-item {
        font-size: 20px;
    }
}
